<div class="container mt-5 col-3">
  
<h2>Login</h2 >
<form [formGroup]="myform">
    <div class="form-group">
      <label for="username" class="required-field">Username</label>

      <input 
        formControlName="username"
        id="username"
        type="text"
        class="form-control">
        
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            <div *ngIf="username.errors.required">Username can't be empty</div>
            <div *ngIf="username.errors.minlength">Username need to be of minimum 3 character</div>
            <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>
        </div>
        
      </div>

      <div class="form-group">
      <label for="email" class="required-field">Email</label>
      <input 
        formControlName="email"
        id="email"
        type="text"
        class="form-control ">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
            <div *ngIf="email.errors.required">Email can't be empty</div>
            <div *ngIf="email.errors.minlength">Email need to be of minimum 15 character</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="required-field">Password</label>
        <input 
          formControlName="password"
          id="password"
          type="text"
          class="form-control required-field">
          <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
              <div *ngIf="password.errors.required">Password can't be empty</div>
              <div *ngIf="password.errors.minlength">Password need to be of minimum 3 character</div>
          </div>
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
  </form>
</div>